<div class="row">
	<div class="container">
	
		<nav class="navbar navbar-light navbar-fixed-top navbar-left bg-faded">

<ul class="nav navbar-nav navbar-left ">
			
				<li class="nav-item">
					<app-side-nav></app-side-nav>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right ">
			
				<li class="nav-item active">
					<a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" routerLink="history">History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="experience">Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="contact">Contact</a>
				</li>
			</ul>
		</nav>


</div>
</div>