


<div class="row">
	<div class="container">
	<app-side-nav></app-side-nav>
		<nav class="navbar navbar-light navbar-fixed-top navbar-right bg-faded">
			<ul class="nav navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
			</ul>
		</nav>


</div>
</div>