$topnav-main-background: #000;
$topnav-link-color: #fff;

div.row {
	padding: 25px 0;
	background-color: $topnav-main-background;
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $topnav-link-color;
}

.navbar-nav > li {
   background-color: $topnav-main-background ;
    color: $topnav-link-color;
}


.navbar-nav > li :hover {
   background-color: lighten($topnav-main-background,20%) ;
    color: $topnav-link-color;
}

.navbar-nav > li :focus {
   background-color: lighten($topnav-main-background,20%) ;
    color: $topnav-link-color;
}


.navbar {
   // margin:0;
}

.navbar-right {
	padding-right: 20px;
}

.navbar-left {
	padding-left: 20px;
}